.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    

}

.layout-main {
   padding: 60px 0;
    width: 100%;
    margin-bottom: 80px;
}