.about-film {
    display: flex;
    /* flex-direction: column; */
    /* padding: 80px 0px; */
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
    ;




}

.about-film__random {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    max-height: 552px;
    /* margin-bottom: 40px; */
}

.about-film__content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 16px;
    /* margin: 0 auto; */
    width: 100%;
    max-width: 600px;
    /* padding: 120px 0; */
}

.about-film__content .raiting-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
}

.about-film__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;

}

.about-film__description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 44px;
    overflow:hidden;
    max-height: 312px;
}

.about-film__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 56px;
}

.about-film__poster {
    display: block;
    margin: 0 auto;
    width: 680px;
    height: 552px;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}