.AddTodoButton {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  text-wrap: nowrap;
}

.AddTodoButton--primary {
  background-color: var(--primary);
  color: white;
  border: none;
}

.AddTodoButton--secondary {
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  transform: translateY(-0.3rem);
}



@media (hover: hover) and (pointer: fine) {
  .AddTodoButton:hover {
    background-color: var(--primary-hover);
    color: white;
    outline: none;
  }
}

/* .AddTodoButton:active {
  background-color: #3840e6;
  color: white;
  outline: none;
} */

.AddTodoButton:active {
  /* transform: translateY(2px); */
  transform: translate3d(1px, 1px, 0);
}


.AddTodoButton:focus,
.AddTodoButton:focus-visible {
  outline: none;


}