.button {
  padding: 16px 48px;
  border-radius: 28px;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 100%;
}

.button-primary {
  background-color: #67A5EB;
  color: white;
}

.button-primary:hover {
  background-color:#45526E;
   color:#FFFFFF80
  
}

.button-secondary {
  background-color: #393B3C;
  color: white;
}

.button-secondary:hover {
  background-color:#747474;
   color : #FFFFFF80
}

.button-light {
  background-color: white;
  color: #000;
}

.button-light:hover {
  background-color: #f5f5f5;
}

.button-dark {
  background-color: #2C3E50;
  color: white;
}

.button-dark:hover {
  background-color: #1a2631;
}

