

.main-page__top-title {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 60px;
    font-family: Play;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}