.genres-card {
    width: 290px;
    height: 304px;
    border-radius: 24px;
    background: radial-gradient(ellipse at center, #111 80%, #000 100%);
    box-shadow: 0 0 32px 0 #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    align-items: stretch;
}

.genres-card__image {
    width: 100%;
    height: 70%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-repeat: no-repeat;
}

.genres-card__footer {
    background: #111;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.genres-card__genre {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    /* font-family: 'Arial Black', Arial, sans-serif; */
    text-align: center;
}