.header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    color: white;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
}
.header-logo-container {
    top: 40px;
    left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    gap: 34px;
    /* position: absolute; */
}

.header-logo {
    width: 87px;
    height: 112px;

}

.header-marusia {
    width: 348px;
    height: 73.5px;
    transform: translateY(12px);
    position: absolute;
    z-index: -100;
    left: 120px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 655px;
   
}

.search-dropdown {
    position: absolute;
    top: 140%;
    right: 0;
    width: 90%;
    background-color:#383A3C;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    padding: 10px 10px;
    margin: 0;
    
}

.dropdown-movie-poster {
    width: 40px;
    height: 52px;
    margin-right: 16px;
    vertical-align: middle;
   
}

.dropdown-movie-link {
    display: flex;
    align-items: flex-start;
    padding: 8px 20px;
   font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-movie-year {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    /* margin-left: 24px; */
}

.dropdown-movie-raiting {
    background-color: #FF6B08;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.header-button {
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    color: white;

}