.GenresMoviesPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.genresMoviesPage__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 64px;
}
.GenresMoviesPage .card-list {
    margin-bottom: 64px;
}

.GenresMoviesPage button {
   align-self: center;
}

