.refresh-button {
    width: 68px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 150ms ease, transform 120ms ease, background-color 150ms ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 28px;
    background: rgba(51, 51, 51, 1);

}





.refresh-button:active {
    transform: scale(0.97);
}

.refresh-button:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.08);
}

.refresh-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.01);
}

.refresh-icon {
    transition: transform 0.6s;
}

.rotating {
    animation: rotate360 0.6s linear;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}